.container
{
    margin-top : 50px;
}
#commentsBlock
{
    background : #DDDDDD;
}
#menu
{
    padding-right: 0px;
    text-align: right;
    border-right-style: solid;
    border-right-color: #FF9F10;
}
#content
{
    padding-left: 40px;
}
button a
{
    color: #FFFFFF;
    text-decoration: none;
}
button a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
button a:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
img
{
    width: 500px;
}