
{% extends "findAnimalApp/menu.html" %}
{% block content %}
{% load staticfiles %}
<form enctype="multipart/form-data" action="{% url 'findAnimalApp:create_notice' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if photo.instance.picture %}
        <img src= {% static photo.instance.get_url %}>
    {% endif %}
    {{ photo.as_p }}
    <input type="submit" value="Сохранить">
</form>
{% endblock %}