{% extends "findAnimalApp/menu.html" %}

{% block content %}
<h1>Объявления</h1>
{% if notices_list %}
    <ul>
    {% for notice in notices_list %}
        <li><a href="{% url 'findAnimalApp:notice' notice.id %}">{{ notice.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No notices are available.</p>
{% endif %}
{% endblock %}