<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'findAnimalApp/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'findAnimalApp/css/custom.css' %}" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="row">
    <div class="col-md-2" id="menu">
        {% block sidebar %}
        <div class="sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="/findAnimalApp/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/findAnimalApp/new_notice/">Добавить объявление</a></li>
                </ul>
        </div>
        {% endblock %}
    </div>

    <div id="content" class="col-md-10">
        {% block content %}{% endblock %}
    </div>
        </div>
    </div>
</body>
    <script href="{% static 'findAnimalApp/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}" />
</html>

