{% extends "findAnimalApp/menu.html" %}

{% block content %}
{% load staticfiles %}
<p><label>Заголовок: </label> <div>{{notice.title}}</div></p>
<p><label>Категория: </label> <div>{{notice.id_category.name}}</div></p>
<p><label>Текст: </label> <div>{{notice.text}} </div> </p>
<p><label>Животное: </label> <div> {{notice.id_animal.name}} </div> </p>
<p><label>Порода: </label> <div> {{notice.id_breed.name}} </div> </p>
<p><label>Место: </label> <div> {{notice.id_location.name}} </div> </p>
<p><label>Почта владельца: </label> <div> {{notice.owner_email}}</div> </p>
{% if photo %}
<p><label>Фото: </label> <div><img src= {% static photo.get_url %}></div> </p>
{% endif %}
<br/><br/>
<button type="button" class="btn btn-primary">
    <a href="{% url 'findAnimalApp:create_notice'%}?notice_id={{notice.id}}">
        Редактировать
    </a>
</button>
<br/><br/>
<div id="commentsBlock">
<h3>Комментарии:</h3>
{% if comments %}
    <ul>
    {% for comment in comments %}
        <li>
            <p><label>{{comment.author}}:</label>
            {{comment.text}}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>No comments</p>
{% endif %}
    </div>
<form action="" method="post">
    {% csrf_token %}
    {{ addcomment.as_p }}
    <input type="submit" value="Отправить">
</form>
{% endblock %}
